body {

    width: 1280px;
    height: 1626px;
    font-family: Roboto, sans-serif;
    margin: auto;
}

.menu {

    margin-top: 32px;
    margin-bottom: 35px;
    text-align: center;
}

.menu a {

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #16a085;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 900;
}

img {

    width: 1280px;
    height: 790px;
}

.main-text {

    box-sizing: border-box;
    background-color: #f5f6f7;
    height: 650 px;
    text-align: center;
}

.main-text h1 {

    padding-top: 56px;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;

}

.main-text-paragraph1 {

    padding-top: 34px;
    padding-left: 110px;
    padding-right: 110px;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;

}

.main-text-paragraph2 {

    padding-left: 110px;
    padding-right: 110px;
    font-size: 16px;
    font-weight: 900;
    padding-bottom: 41px;
    line-height: 26px;
}

.button {

    text-align: center;
    padding-bottom: 94px;
}

.button-text {

    border-radius: 3px;
    background-color: #16a085;
    display: inline-block;
    padding: 23px 45px 18px 43px;
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    border-radius: 3px;
    background-color: #16a085;
    text-transform: uppercase;
    font-family: GothamRounded;
    line-height: 20px;

}

.footer {
    margin-top: 47px;
    margin-bottom: 45px;
    margin-right: 104px;

}

.copy {
    text-align: right;
    font-size: 16px;
    font-weight: 900;
}
